<footer>
    <nav class="F_Footer">
            <!--REDES SOCIALES-->
            <div class="F_Footer_Informacion">
                <form action="https://fonts.google.com/">
                    <input class="F_Redes" type="image"
                        src="assets/logo_facebook.jpg"
                        alt="submit" width="30px" height="30px">
                </form>
                <form action="https://fonts.google.com/">
                    <input class="F_Redes" type="image"
                        src="assets/logo_instagram.jpg"
                        alt="submit" width="30px" height="30px">
                </form>
                <form action="https://fonts.google.com/">
                    <input class="F_Redes" type="image"
                        src="assets/logo_wasap.jpg" alt="submit"
                        width="30px" height="30px">
                </form>
                <form action="https://fonts.google.com/">
                    <input class="F_Redes" type="image"
                        src="assets/logo_tuiter.2.jpg" alt="submit"
                        width="30px" height="30px">
                </form>
            </div>
    </nav>
</footer>


